@page "/editor/{pagepath}"
@using Dumpify
@using StudentPortalServer.Entities
@using StudentPortalServer.Entities.Page;
@using StudentPortalServer.Services
@using StudentPortalServer.UI.Components.Editor;
@using StudentPortalServer.UI.Components.Display;
@rendermode InteractiveServer
@inject PageService PageSerivce

@code {
    [Parameter]
    public required string PagePath { get; set; }
    public Slug Slug = null!;

    public PortalPage page = null!;
    protected override void OnInitialized()
    {

        Slug = PagePath;
        page = new PortalPage()
            {
                Content = new SectionComponentData([]),
                Slug = Slug
            };

    }

    protected override async Task OnInitializedAsync()
    {
        page = await PageSerivce.GetPortalPageByPathAsync(Slug) ?? await PageSerivce.AddPageAsync(page);
    }

    public async void Save()
    {
        await PageSerivce.UpdatePortalPage(page);
    }

    public void SubmitChanges(ISPComponent content)
    {
        page.Content = content;
        StateHasChanged();
    }
}

<p>Path: @Slug</p>
<button @onclick=Save>Save</button>

<CascadingValue TValue="ReplaceComponent" Value=SubmitChanges>
    <DefaultRendererProvider>
        <EditorRendererProvider>
            <Display Component="page.Content" />
        </EditorRendererProvider>
    </DefaultRendererProvider>
</CascadingValue>
