@using StudentPortal.ComponentData.Components
@using StudentPortal.PageEditor.Components
@using PSC.Blazor.Components.MarkdownEditor;
@using PSC.Blazor.Components.MarkdownEditor.EventsArgs
@using System.Timers;

@inherits EditorComponentBase<MarkdownComponent>

@code
{
    private string _content = default!;

    protected override void OnInitialized()
    {
        _content = Component.Content;
    }

    Timer debounceTimer = null!;
    private void OnValueChanged(string value)
    {
        if (_content == value) return;

        _content = value;

        debounceTimer?.Dispose();
        debounceTimer = new Timer(1000);
        debounceTimer.Elapsed += DebounceTimerElapsed;
        debounceTimer.Enabled = true;
        debounceTimer.Start();
    }

    private void DebounceTimerElapsed(object? sender, EventArgs eventArgs)
    {
        debounceTimer?.Dispose();
        PropagateChanges(Component with { Content = _content });
    }
}

<div>
    <MarkdownEditor SpellChecker=false Value=@_content ValueChanged=@OnValueChanged />
</div>