@using System.Timers;
@using StudentPortal.PageEditor

@inherits EditorComponentBase<MarkdownComponent>

@code
{
    private async void OnValueChanged(string value)
    {
        await UpdateComponent(Component with { Content = value });
    }
}

<div class="w-full">
    <ErrorBoundary>
        <Markdown SpellChecker=false @bind-Value:get=Component.Content @bind-Value:set=OnValueChanged />
    </ErrorBoundary>
</div>