@using System.Timers;
@using StudentPortal.PageEditor

@inherits EditorComponentBase<MarkdownComponent>

@code
{
    private string _content = default!;
    private Debounce<string> Debounce = default!;

    protected override void OnInitialized()
    {
        Debounce = new(TimeSpan.FromSeconds(1), UpdateContent);
    }

    protected override void OnParametersSet()
    {
        _content = Component.Content;
    }

    private void OnValueChanged(string value)
    {
        _content = value;
        Debounce.Push(value);
    }

    private async void UpdateContent(string content)
    {
        if (content != Component.Content)
            await UpdateComponent(Component with { Content = content });
    }
}

<div class="w-full">
    <Markdown SpellChecker=false @bind-Value:get=_content @bind-Value:set=OnValueChanged />
</div>