@using StudentPortal.ComponentData.Abstractions
@inherits EditorComponentBase<RootComponent>

@code {
    public Task EditContent(IComponentData content)
    {
        return UpdateComponent(Component with { Content = content });
    }

    public Task EditFooter(IComponentData footer)
    {
        return UpdateComponent(Component with { Footer = footer });
    }
}

<div class="flex flex-col gap-2">
    <EditorRenderer Component="Component.Content" ComponentChanged="EditContent" />

    @if (Component.Footer != null)
    {
        <EditorRenderer Component="Component.Footer" ComponentChanged="EditFooter" />
    }
</div>