@using PageEditor.Components.Editor.Dialogs
@using StudentPortal.ComponentData.Abstractions
@using StudentPortal.PageEditor.Templates
@using System.Text

@inherits EditorComponentBase<SectionComponent>

@inject IDialogService DialogService

@code {
    private SectionDisplayMode _displayMode
    {
        get => Component.DisplayMode;
        set
        {
            UpdateComponent(Component with { DisplayMode = value });
        }
    }

    private Task ChangeComponent(IComponentData previous, IComponentData component)
    {
        return UpdateComponent(
        Component with
        {
            Components = Component.Components.Replace(previous, component, new ReferenceEqualityComparer<IComponentData>())
        }
        );
    }

    private async Task AddComponent()
    {
        var parameters = new DialogParameters<SelectComponentDialog> { { x => x.Factories, Template.Factories } };

        var dialog = await DialogService.ShowAsync<SelectComponentDialog>("Select Component", parameters);

        var result = await dialog.Result;

        if (result is null || result.Canceled) return;

        var res = (IComponentFactory)result.Data!;

        if (res is null) return;

        await UpdateComponent(Component with
        {
            Components = Component.Components.Add(res.CreateInstance())
        });
    }

    private async Task RemoveComponent(IComponentData componentData)
    {
        var components = Component.Components.Remove(componentData, EqualityComparer<IComponentData>.Default);
        await UpdateComponent(Component with
        {
            Components = components
        });
    }

    private Task OrderChanged((int oldIndex, int newIndex) indexes)
    {
        var (oldIndex, newIndex) = indexes;
        if (oldIndex == newIndex) return Task.CompletedTask;

        var item = Component.Components[oldIndex];

        return UpdateComponent(Component with
        {
            Components = Component.Components.RemoveAt(oldIndex).Insert(newIndex, item)
        });
    }
}

<LabeledContainer Label="Section" Class="flex flex-col gap-3 py-3 w-full h-fit">
    <div class="flex flex-row gap-2">
        <Container Class="leading-7 w-fit flex flex-row gap-1">
            Section mode:
            <div class="w-40">
                <MudSelect T="SectionDisplayMode" @bind-Value="_displayMode" Class="max-w-10 ml-1">
                    @foreach (var value in Enum.GetValues<SectionDisplayMode>())
                    {
                        <MudSelectItem Value="value" />
                    }
                </MudSelect>
            </div>
        </Container>
    </div>

    <SortableList Items="Component.Components" Context="item" OnUpdate="OrderChanged" Class="flex flex-col gap-2"
        Put=false Handle=".sortable-handle">
        <div @key=item.Id class="flex flex-row gap-2 items-center w-full">
            <div class="flex flex-col items-center">
                <MudIconButton Icon="@Icons.Material.Filled.OpenWith" Class="sortable-handle px-2 py-2 cursor-grab" />
                <MudIconButton Class="px-2 py-2" Icon="@Icons.Material.Filled.Delete"
                    OnClick="() => RemoveComponent(item)" />
            </div>
            <EditorRenderer Component="item" ComponentChanged="(v) => ChangeComponent(item, v)" />
        </div>
    </SortableList>

    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddComponent" Class="w-41">
        Add component
    </MudButton>
</LabeledContainer>