@using PageEditor.Components.Editor.Dialogs
@using StudentPortal.ComponentData.Abstractions
@using StudentPortal.PageEditor.Templates
@using System.Text

@inherits EditorComponentBase<SectionComponent>

@inject IDialogService DialogService

@code {
    private SectionDisplayMode _displayMode
    {
        get => Component.DisplayMode;
        set
        {
            NotifyComponentChanged(Component with { DisplayMode = value });
        }
    }

    private bool IsInDeleteMode = false;

    private void ChangeComponent(IComponentData previous, IComponentData component)
    {
        NotifyComponentChanged(
        Component with
        {
            Components = Component.Components.Replace(previous, component, EqualityComparer<IComponentData>.Default)
        }
        );
    }

    private async void AddComponent()
    {
        var parameters = new DialogParameters<SelectComponentDialog> { { x => x.Factories, Template.Factories } };

        var dialog = await DialogService.ShowAsync<SelectComponentDialog>("Select Component", parameters);

        var result = await dialog.Result;

        if (result is null || result.Canceled) return;

        var res = (IComponentFactory)result.Data!;

        if (res is null) return;

        NotifyComponentChanged(Component with
        {
            Components = Component.Components.Add(res.CreateInstance())
        });

        IsInDeleteMode = false;
    }

    private void RemoveComponent(IComponentData componentData)
    {
        var components = Component.Components.Remove(componentData, EqualityComparer<IComponentData>.Default);
        NotifyComponentChanged(Component with
        {
            Components = components
        });

        if (components.Count == 0) IsInDeleteMode = false;
    }

    private void OrderChanged((int oldIndex, int newIndex) indexes)
    {
        var (oldIndex, newIndex) = indexes;
        if (oldIndex == newIndex) return;

        var item = Component.Components[oldIndex];

        NotifyComponentChanged(Component with
        {
            Components = Component.Components.RemoveAt(oldIndex).Insert(newIndex, item)
        });
    }
}

<LabeledContainer Label="Section" Class="flex flex-col gap-3 py-3 w-full">
    <div class="flex flex-row gap-2">
        <Container Class="leading-7 w-fit flex flex-row gap-1">
            Section mode:
            <div class="w-40">
                <MudSelect T="SectionDisplayMode" @bind-Value="_displayMode" Class="max-w-10 ml-1">
                    @foreach (var value in Enum.GetValues<SectionDisplayMode>())
                    {
                        <MudSelectItem Value="value" />
                    }
                </MudSelect>
            </div>
        </Container>
        <MudButton Class="ml-4" Disabled="Component.Components.Count == 0" Color="Color.Primary"
            Variant="Variant.Filled" OnClick="() => IsInDeleteMode = !IsInDeleteMode">
            @(IsInDeleteMode ? "Exit" : "Enter") Delete Mode
        </MudButton>
    </div>

    <SortableList Items="Component.Components" Context="item" OnUpdate="OrderChanged" Class="flex flex-col gap-2"
        Put=false Handle=".sortable-handle">
        <div @onclick="IsInDeleteMode ? () => RemoveComponent(item) : null!" class=@("flex flex-row gap-2 items-center"
                                                                                         + (IsInDeleteMode ? "deletable" : ""))>
            <div class="sortable-handle"><i class="fas fa-arrows-alt handle"></i></div>
            <CascadingValue TValue="PropagateChanges" Value="(v) => ChangeComponent(item, v)">
                <EditorRenderer Component="item" />
            </CascadingValue>
        </div>
    </SortableList>

    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddComponent" Class="w-41">
        Add component
    </MudButton>
</LabeledContainer>