@using StudentPortal.PageEditor.Templates
@using FuzzySharp

<MudDialog>
    <TitleContent>
        Select component
    </TitleContent>

    <DialogContent>
        <MudInput @bind-Value=_search AutoFocus />

        <div class="flex flex-col gap-2">
            @foreach (var factory in Factories.OrderBy(x => Fuzz.Ratio(_search, x.DisplayName)))
            {
                <MudButton OnClick="() => Submit(factory)">@factory.DisplayName</MudButton>
            }
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter, EditorRequired]
    public required IEnumerable<IComponentFactory> Factories { get; set; }

    private string _search = "";

    public void Submit(IComponentFactory componentFactory)
    {
        MudDialog.Close(DialogResult.Ok(componentFactory));
    }
}