@namespace StudentPortal.CommonComponents.Components
@using StudentPortal.ComponentData.Quizzes

@code {
    [Parameter]
    public required OpenAnswerQuestionComponent Component { get; set; }

    [CascadingParameter]
    public required IQuizManager QuizManager { get; set; }

    private string _answer = "";

    public async void SetAnswer(ChangeEventArgs args)
    {
        _answer = (args.Value?.ToString() ?? "");

        var declaration = Component.GetQuestionDeclaration();

        await QuizManager.Set(new OpenAnswerQuestionAnswer(declaration, _answer));
    }

    protected override async Task OnInitializedAsync()
    {
        var answer = await QuizManager.Get(Component.GetQuestionDeclaration());
        if (answer is OpenAnswerQuestionAnswer openAnswer)
        {
            _answer = openAnswer.Answer;
        }
    }
}

<div class="border rounded-md px-2 py-2 w-full flex flex-col gap-2">
    <span class="text-xl">@Component.QuestionText</span>
    <textarea class="styled-textarea border rounded-md p-2" @onchange=SetAnswer>@_answer</textarea>
</div>