@namespace StudentPortal.CommonComponents.Components

@code {
    [Parameter, EditorRequired]
    public required RootComponent Data { get; set; }
}

<div class="flex flex-col gap-2 w-full">
    <ComponentRenderer Component="Data.Content" />
    @if (Data.Footer != null)
    {
        <ComponentRenderer Component="Data.Footer" />
    }
</div>
