@namespace StudentPortal.CommonComponents.Components

@code {
    [Parameter, EditorRequired]
    public required SectionComponent Data { get; set; }

    private int _index = 1;
}

@if (Data.DisplayMode == SectionDisplayMode.Pages)
{
    <div class="flex flex-col gap-2 items-center w-full">
        <div class="w-full">
            <ComponentRenderer Component="Data.Components[_index - 1]" />
        </div>
        <MudPagination @bind-Selected="_index" Count="Data.Components.Count" />
    </div>
}
else
{
    <div class="flex flex-col gap-2">
        @foreach (var component in Data.Components)
        {
            <ComponentRenderer Component="component" />
        }
    </div>
}