@namespace StudentPortal.CommonComponents.Components

@code {
    [Parameter, EditorRequired]
    public required SectionComponent Data { get; set; }
}

<div>
    @foreach(var component in Data.Components)
    {
        <ComponentRenderer Component="component"/>
    }
</div>