@using Markdig
@using Markdig.SyntaxHighlighting;

@code {
    [Parameter]
    public required string Content { get; set; }

    private RenderFragment HtmlContent => new RenderFragment(b => b.AddMarkupContent(0, ToHtml()));

    private string ToHtml()
    {
        try
        {
            return GetSyntaxHighlightedHtml(Content);
        }
        catch
        {
            return GetHtml(Content);
        }
    }

    private string GetSyntaxHighlightedHtml(string content)
    {
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseSyntaxHighlighting().Build();
        var result = Markdown.ToHtml(content, pipeline);
        return result;
    }

    private string GetHtml(string markdown)
    {
        return Markdown.ToHtml(markdown);
    }
}
<div style="padding: 5px;">
    @HtmlContent
</div>