@implements IComponentDataVisitor<RenderFragment>;

@namespace StudentPortal.CommonComponents.Renderer

@code {

    [Parameter, EditorRequired]
    public required IComponentData Component { get; set; }

    public RenderFragment Visit(MarkdownComponent component)
    {
        return @<MarkdownComponentRenderer Data=component />;
    }

    public RenderFragment Visit(VarianceQuestionComponent component)
    {
        return @<p>Not supported</p>;
    }

    public RenderFragment Visit(OpenAnswerQuestionComponent component)
    {
        return @<p>Not supported</p>;
    }

    public RenderFragment Visit(SectionComponent component)
    {
        return @<SectionComponentRenderer Data="component" />;
    }

    public RenderFragment Visit(RootComponent component)
    {
        return @<RootComponentRenderer Data=component />;
    }

    public RenderFragment Visit(VideoComponent component)
    {
        return @<VideoComponentRenderer Data="component" />;
    }

    public RenderFragment Visit(GalleyComponent component)
    {
        return @<GalleryComponentRenderer Data="component" />;
    }
}

@(Component.Accept(this))